{
  "extends": "airbnb",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "import/no-unresolved": 0,
    "mocha/no-mocha-arrows": 0,
    "no-underscore-dangle": 0,
    "max-classes-per-file": 0,
    "no-console":0
  }
}
